.docs {
	.stage {
		&__content {
			& > * + * {
				border-top: 1px solid $gray-light;
			}
		}
	}

	&__wrapper {
		position: relative;
	}

	&__header {
		padding: 4rem;
	}

	&__sidebar {
		position: absolute;
		top: 0; left: 0;
		width: 250px;
		height: 100%;
		padding: 4rem;
		border-right: 1px solid $gray-light;
	}

	&__post {
		padding: 2rem 6rem 6rem 6rem;

		@media (max-width: $screen-sm-max) {
			padding: 1rem 4rem 4rem 4rem;
		}
	}

	&__content {
		padding-left: 250px;

		@media (max-width: $screen-sm-max) {
			padding-left: 0;
		}
	}
}