@font-face {
	font-family: 'Alte Haas Grotesk';
	src: url('../fonts/AlteHaasGrotesk.eot');
	src: url('../fonts/AlteHaasGrotesk.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AlteHaasGrotesk.woff') format('woff'),
		url('../fonts/AlteHaasGrotesk.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Alte Haas Grotesk';
	src: url('../fonts/AlteHaasGrotesk_Bold.eot');
	src: url('../fonts/AlteHaasGrotesk_Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AlteHaasGrotesk_Bold.woff') format('woff'),
		url('../fonts/AlteHaasGrotesk_Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}