.hero {
	$this: #{&};

	display: flex;

	&__editor {
		flex: 1;
		padding: 45px 0;
		width: 55%;
		max-height: 520px;

		@media (max-width: $screen-md-max) {
			width: 50%;
		}

		@media (max-width: $screen-sm-max) {
			width: 100%;
			padding: 0;
			max-height: 420px;
		}
	}

	&__content {
		flex: 1;
		width: 45%;
		position: relative;

		@media (max-width: $screen-md-max) {
			width: 50%;
		}

		&:hover {
			#{$this}__panel {
				transform: perspective(2000) rotateY(0) scale3d(1, 1, 1) translate3d(0, 0, 0);
			}

			#{$this}__shadow {
				transform: perspective(2000) rotateY(0) translate3d(-60%, -50%, 0);
				opacity: 0;
			}
		}
	}

	&__panel {
		width: 100%;
		height: 100%;
		background-color: $brand-primary;
		padding: 8rem 10rem;
		transition: all 300ms ease-out;
		transform: perspective(2000) rotateY(18deg) scale3d(.975, 1, 1) translate3d(0, 0, 0);
		transform-origin: 100% 50%;
		position: relative;
		z-index: 2;
		background: linear-gradient(
			45deg,
			$brand-primary 33%,
			#38e5ff 100%
		);
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;

		@media (max-width: $screen-md-max) {
			padding: 8rem 6rem;
		}

		& > * + * {
			margin-top: 36px
		}

		.btn {
			color: white;
			background-color: desaturate(lighten($brand-primary-dark, 18%), 27%);

			&:hover {
				background-color: $brand-primary-dark;
			}
		}
	}

	&__shadow {
		position: absolute;
		top: 50%; left: 50%;
		width: 75%;
		height: 75%;
		transition: all 400ms ease-out;
		transform: perspective(2000) rotateY(9deg) translate3d(-66%, -50%, 0);
		background-color: $brand-primary-dark;
		box-shadow: 0px 0px 43px 41px $brand-primary-dark;
		opacity: .15;
		z-index: 1;
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
	}

	&__heading {
		color: white;
		font-weight: bold;
		line-height: 1em;
	}

	&__lead {
		color: white;
	}
}