.heading {
	&__subtitle {
		font-family: $font-family-monospace;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.2rem;
	}

	&__title {
		@media (max-width: $screen-xs-max) {
			font-size: $font-size-h2;
		}
	}

	&__lead {
		font-size: 2rem;
		margin: 0;
	}
}